.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.wrapper {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.cameraStyle {
  width: 70%;
  height: 70%;
  position: absolute;
  z-index: 10;
  transform: scaleX(-1);
}

.canvasStyle {
  width: 70%;
  height: 70%;
  position: absolute;
  z-index: 20;
  transform: scaleX(-1);
  object-fit: contain;
  background-size: cover;
}

.disableStyle {
  display: none;
}
